<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.39" targetFramework="net472" />
  <package id="RibbonWinForms" version="5.1.0-beta" targetFramework="net472" />
  <package id="System.Windows.Forms.Ribbon35" version="3.5.8.0" targetFramework="net472" />
  <package id="UDE.CSharp" version="1.1.0" targetFramework="net472" />
</packages>